<a href="https://colab.research.google.com/github/P-muriuki/Capstone_T4D/blob/main/Capstone_Project_Group_14_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from google.colab import files
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [6]:
url='https://github.com/adeyeyesaidah/capstone-project-tech4dev/raw/main/PRODUCT%20DELIVERY%20QUESTIONNAIRE%20(Responses)%20(1).csv'

In [7]:
df = pd.read_csv(url)

In [8]:
df.head(3)

,Name,Gender,Home Area,Age,Delivery_Frequency,Type_of_goods_delivered,No_of times_bad_goods_received,Rating_delivery_rates,Willing_to_pay,Importance_of_fast_delivery,Opinion_Tracking_goods,Rate: Driver_details,Whether_smallbusinessowner_ornot,Business owner qs:rate_unknown_rider,Business owner qs:rate_incompetent_rider,Business owner qs:rate_accessibility_of_rider,Will_to_pay_to_access_riders
0,Adenike,Female,Porthacourt,32 - 38,Sometimes,"Clothes, Phones",<4 times,Affordable,Yes,Very important,Yes,10,No,NaN,NaN,NaN,NaN
1,Chisom Akwue,Female,"Anambra, South East Nigeria.",18 - 24,Oftenly,"Food stuff, Clothes,",5 - 10 times,Expensive,Yes,Very important,Yes,10,No,NaN,NaN,NaN,NaN
2,Olajumoke,Female,Lagos,38+,Oftenly,"Clothes, Glasses and other fragile goods,",<4 times,Expensive,Yes,Neutral,Yes,7,Yes,4.0,5.0,4.0,Maybe

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 17 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Name                                           46 non-null     object
 1   Gender                                         46 non-null     object
 2   Home Area                                      45 non-null     object
 3   Age                                            46 non-null     object
 4   Delivery_Frequency                             46 non-null     object
 5   Type_of_goods_delivered                        46 non-null     object
 6   No_of times_bad_goods_received                 45 non-null     object
 7   Rating_delivery_rates                          46 non-null     object
 8   Willing_to_pay                                 46 non-null     object
 9   Importance_of_fast_delivery                    46 non-null     object
 10  Opinion_Tracking_goods                         46 non-null     object
 11  Rate: Driver_details                           46 non-null     int64
 12  Whether_smallbusinessowner_ornot               46 non-null     object
 13  Business owner qs:rate_unknown_rider           15 non-null     float64
 14  Business owner qs:rate_incompetent_rider       15 non-null     float64
 15  Business owner qs:rate_accessibility_of_rider  15 non-null     float64
 16  Will_to_pay_to_access_riders                   15 non-null     object
dtypes: float64(3), int64(1), object(13)
memory usage: 6.2+ KB

CLEANING.

In [10]:
#1. willing_to_pay, 
#2. Importance_of_fast_delivery, 
#3. Opinion_Tracking_goods, 
#4. Whether_smallbusinessowner_ornot, 
#5. Business owner qs:rate_unknown_rider, 
#6. Business owner qs:rate_incompetent_rider, 
#7. Business owner qs:rate_accessibility_of_rider, 
#8. Will_to_pay_to_access_riders.

In [11]:
df.rename(columns={'B.O_rate_unknown_rider':'BO_rate_unknown_rider', 'B.O_rate_incompetent_rider': 'BO_rate_incompetent_rider', 'B.O_rate_accessibility_of_rider':'BO_rate_accessibility_of_rider'}, inplace = True)

In [12]:
df.rename(columns={'Rate: Driver_details': 'rating_driver_details'}, inplace = True)

In [13]:
df.info()

#TO BE NOTED
#We have missing values after question 12 because in the questionnaire only the people who have small businesses filled that part.
#Those who didn't have a small business were not permitted to fill.
#The missing values are correct therefore no need to fill them.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 17 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Name                                           46 non-null     object
 1   Gender                                         46 non-null     object
 2   Home Area                                      45 non-null     object
 3   Age                                            46 non-null     object
 4   Delivery_Frequency                             46 non-null     object
 5   Type_of_goods_delivered                        46 non-null     object
 6   No_of times_bad_goods_received                 45 non-null     object
 7   Rating_delivery_rates                          46 non-null     object
 8   Willing_to_pay                                 46 non-null     object
 9   Importance_of_fast_delivery                    46 non-null     object
 10  Opinion_Tracking_goods                         46 non-null     object
 11  rating_driver_details                          46 non-null     int64
 12  Whether_smallbusinessowner_ornot               46 non-null     object
 13  Business owner qs:rate_unknown_rider           15 non-null     float64
 14  Business owner qs:rate_incompetent_rider       15 non-null     float64
 15  Business owner qs:rate_accessibility_of_rider  15 non-null     float64
 16  Will_to_pay_to_access_riders                   15 non-null     object
dtypes: float64(3), int64(1), object(13)
memory usage: 6.2+ KB

In [14]:
lencoder = LabelEncoder()
rencoder = LabelEncoder()
dencoder = LabelEncoder()
pencoder = LabelEncoder()

In [15]:
df.Willing_to_pay  = lencoder.fit_transform(df.Willing_to_pay)
df.Opinion_Tracking_goods	 = rencoder.fit_transform(df.Opinion_Tracking_goods)
df.Whether_smallbusinessowner_ornot = dencoder.fit_transform(df.Whether_smallbusinessowner_ornot)
df.Will_to_pay_to_access_riders = pencoder.fit_transform(df.Will_to_pay_to_access_riders)

In [16]:
lencoder.classes_

array(['Maybe', 'No', 'Yes'], dtype=object)

In [17]:
rencoder.classes_

array(['Maybe', 'Yes'], dtype=object)

In [18]:
dencoder.classes_

array(['No', 'Yes'], dtype=object)

In [19]:
pencoder.classes_

array(['Maybe', 'No', 'Yes', nan], dtype=object)

In [20]:
df.head(2)

,Name,Gender,Home Area,Age,Delivery_Frequency,Type_of_goods_delivered,No_of times_bad_goods_received,Rating_delivery_rates,Willing_to_pay,Importance_of_fast_delivery,Opinion_Tracking_goods,rating_driver_details,Whether_smallbusinessowner_ornot,Business owner qs:rate_unknown_rider,Business owner qs:rate_incompetent_rider,Business owner qs:rate_accessibility_of_rider,Will_to_pay_to_access_riders
0,Adenike,Female,Porthacourt,32 - 38,Sometimes,"Clothes, Phones",<4 times,Affordable,2,Very important,1,10,0,NaN,NaN,NaN,3
1,Chisom Akwue,Female,"Anambra, South East Nigeria.",18 - 24,Oftenly,"Food stuff, Clothes,",5 - 10 times,Expensive,2,Very important,1,10,0,NaN,NaN,NaN,3

In [21]:
new = df["Type_of_goods_delivered"].str.split(",", expand = True)

In [22]:
df['Type_of_goods_Option1'] = new[0]
df['Type_of_goods_Option2'] = new[1]
df['Type_of_goods_Option3'] = new[2]

#The 3 columns are at the back.

In [23]:
df.head(3)

,Name,Gender,Home Area,Age,Delivery_Frequency,Type_of_goods_delivered,No_of times_bad_goods_received,Rating_delivery_rates,Willing_to_pay,Importance_of_fast_delivery,Opinion_Tracking_goods,rating_driver_details,Whether_smallbusinessowner_ornot,Business owner qs:rate_unknown_rider,Business owner qs:rate_incompetent_rider,Business owner qs:rate_accessibility_of_rider,Will_to_pay_to_access_riders,Type_of_goods_Option1,Type_of_goods_Option2,Type_of_goods_Option3
0,Adenike,Female,Porthacourt,32 - 38,Sometimes,"Clothes, Phones",<4 times,Affordable,2,Very important,1,10,0,NaN,NaN,NaN,3,Clothes,Phones,None
1,Chisom Akwue,Female,"Anambra, South East Nigeria.",18 - 24,Oftenly,"Food stuff, Clothes,",5 - 10 times,Expensive,2,Very important,1,10,0,NaN,NaN,NaN,3,Food stuff,Clothes,
2,Olajumoke,Female,Lagos,38+,Oftenly,"Clothes, Glasses and other fragile goods,",<4 times,Expensive,2,Neutral,1,7,1,4.0,5.0,4.0,0,Clothes,Glasses and other fragile goods,

In [24]:
df.drop('Type_of_goods_delivered', axis = 1, inplace = True)

In [25]:
df.head(1)

,Name,Gender,Home Area,Age,Delivery_Frequency,No_of times_bad_goods_received,Rating_delivery_rates,Willing_to_pay,Importance_of_fast_delivery,Opinion_Tracking_goods,rating_driver_details,Whether_smallbusinessowner_ornot,Business owner qs:rate_unknown_rider,Business owner qs:rate_incompetent_rider,Business owner qs:rate_accessibility_of_rider,Will_to_pay_to_access_riders,Type_of_goods_Option1,Type_of_goods_Option2,Type_of_goods_Option3
0,Adenike,Female,Porthacourt,32 - 38,Sometimes,<4 times,Affordable,2,Very important,1,10,0,NaN,NaN,NaN,3,Clothes,Phones,None

In [26]:
toncoder = LabelEncoder()
rotcoder = LabelEncoder()
wowcoder = LabelEncoder()

df.Type_of_goods_Option1  = toncoder.fit_transform(df.Type_of_goods_Option1)
df.Type_of_goods_Option2 = rotcoder.fit_transform(df.Type_of_goods_Option2)
df.Type_of_goods_Option3 = wowcoder.fit_transform(df.Type_of_goods_Option3)

In [27]:
df = pd.get_dummies(df, columns = ['Importance_of_fast_delivery'])

In [28]:
df.tail(5)

,Name,Gender,Home Area,Age,Delivery_Frequency,No_of times_bad_goods_received,Rating_delivery_rates,Willing_to_pay,Opinion_Tracking_goods,rating_driver_details,...,Business owner qs:rate_unknown_rider,Business owner qs:rate_incompetent_rider,Business owner qs:rate_accessibility_of_rider,Will_to_pay_to_access_riders,Type_of_goods_Option1,Type_of_goods_Option2,Type_of_goods_Option3,Importance_of_fast_delivery_Neutral,Importance_of_fast_delivery_Somewhat important,Importance_of_fast_delivery_Very important
41,Lisa Daniel,Female,Port Harcourt,25 - 31,Sometimes,5 - 10 times,Fair,2,1,10,...,NaN,NaN,NaN,3,2,1,3,0,0,1
42,Francesca,Prefer not to say,Cross River,18 - 24,Rarely,Not Applicable,Expensive,2,1,10,...,NaN,NaN,NaN,3,2,5,3,0,0,1
43,Kay,Prefer not to say,NaN,25 - 31,Sometimes,<4 times,Affordable,1,1,9,...,NaN,NaN,NaN,3,2,1,3,0,1,0
44,Faith,Female,Lagos,18 - 24,Sometimes,<4 times,Expensive,1,1,10,...,4.0,4.0,4.0,1,2,1,2,0,0,1
45,Israel,Male,South West,18 - 24,Rarely,<4 times,Fair,0,1,7,...,NaN,NaN,NaN,3,3,5,3,1,0,0

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 21 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Name                                            46 non-null     object
 1   Gender                                          46 non-null     object
 2   Home Area                                       45 non-null     object
 3   Age                                             46 non-null     object
 4   Delivery_Frequency                              46 non-null     object
 5   No_of times_bad_goods_received                  45 non-null     object
 6   Rating_delivery_rates                           46 non-null     object
 7   Willing_to_pay                                  46 non-null     int64
 8   Opinion_Tracking_goods                          46 non-null     int64
 9   rating_driver_details                           46 non-null     int64
 10  Whether_smallbusinessowner_ornot                46 non-null     int64
 11  Business owner qs:rate_unknown_rider            15 non-null     float64
 12  Business owner qs:rate_incompetent_rider        15 non-null     float64
 13  Business owner qs:rate_accessibility_of_rider   15 non-null     float64
 14  Will_to_pay_to_access_riders                    46 non-null     int64
 15  Type_of_goods_Option1                           46 non-null     int64
 16  Type_of_goods_Option2                           46 non-null     int64
 17  Type_of_goods_Option3                           46 non-null     int64
 18  Importance_of_fast_delivery_Neutral             46 non-null     uint8
 19  Importance_of_fast_delivery_Somewhat important  46 non-null     uint8
 20  Importance_of_fast_delivery_Very important      46 non-null     uint8
dtypes: float64(3), int64(8), object(7), uint8(3)
memory usage: 6.7+ KB